# System and IDE files
Thumbs.db
.DS_Store
.idea
*.suo
*.sublime-project
*.sublime-workspace
.vscode/

# Vendors
node_modules/

# Build
# build/
/npm-debug.log

majale.code-workspace

public_html/build/*

### Node ###
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
public_html/assets/tmp_folder/
