@font-face {
  font-family: 'YekanBoom';
  font-style: normal;
  font-weight: 400;
  src: local('YekanBoom'), url(fonts/Yekan\ Boom.ttf) format('ttf');
}
@font-face {
  font-family: 'Lalezar';
  font-style: normal;
  font-weight: 400;
  src: local('Lalezar'), local('Lalezar-Regular'), url(fonts/Lalezar-Regular.ttf) format('ttf');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: local('Roboto Black'), local('Roboto-Black'), local('sans-serif-black'), url(fonts/Roboto-Regular.ttf) format('ttf');
}

@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Noto Sans'), local('Noto-Sans'), url(fonts/NotoSans-Medium.ttf) format('ttf');
}
